<% include head/head %>
<body>
	<div class="container-fluid">
		<div class="row first-row">
			<div class="col-md-12">
				<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
					
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<div class="row nav-row">
							<div class="col-md-6">
								<div id="title"><h1> World Scoop </h1></div>
							</div>
							<div class="col-md-3">
								<div id="desc" style="float:left"> <h6>Today's Warehouse For Online News</h6></div>
							</div>
							
							<div class="col-md-3">
								<ul class="navbar-nav">
									<li class="nav-item active">
										<a class="nav-link" href="/" style="color: white">Home <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/signup" style="color: white">Sign-up</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/login" style="color: white">Login</a>
									</li>
									
									
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
			
			<div class="row ipsum">
				<div class="col-md-6 bipsum" >
					<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<!-- target div -->
						</div>
					</div>
				</div>
				<div class="col-md-6 lorem">
					<div class="about">
						<h1>About</h1>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
					</div>
				</div>
			</div>
			
			<div class="footer navbar-fixed-bottom" id="footer">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-12">
						<h4>&copy;James Dalton</h4>
						<a href="https://newsapi.org/"><h5 style="color: white; opacity: .70">Powered by News API</h5></a>
					</div>
				</div>
			</div>
			
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
	<script type="text/javascript">
	$(document).ready(function () {
	$('.dropdown-toggle').dropdown();
	var sourceName;

var source;
var sourceName;
var queryURL;
var newsTitle;
var newsImg;
var newsDesc;
var newsUrl;


$.ajax({
url:"https://newsapi.org/v1/sources?language=en",
method: "GET"
}).done(function(response) {
// console.log(response);
// console.log(response.sources.length);
var length = response.sources.length;
// console.log(length);
// console.log(response.sources);

for(var i = 0, arr = []; i < 10; i++){
	var newNum = Math.floor(Math.random()*60);
	arr.push(newNum);
}
console.log("arr: "+ arr);
for(var i = 0, sourceIdArr = [], sourceNameArr =[]; i < 10; i++){
	sourceIdArr.push(response.sources[arr[i]].id);
    sourceNameArr.push(response.sources[arr[i]].name);
}
// console.log("sourceIdArr: " + sourceIdArr);
// console.log("sourceNameArr: " + sourceNameArr);
for(var i = 0; i < 10; i++){
source = sourceIdArr[i];
sourceName = sourceNameArr[i];
console.log(sourceName);
queryURL = "https://newsapi.org/v1/articles?source="+source+"&apiKey=5d9f7c67d4384f35bd73aa91efca8a73";
// console.log(source);
getNews();
// console.log(title)
}
// displayNews();

});




































var title = [], desc = [], img = [], url = [];
console.log(title);

	function getNews(){
		$.ajax({
		url: queryURL,
		method: "GET"
		}).done(function(response) {
		title.push(response.articles[1].title);
		desc.push(response.articles[1].description);
		img.push(response.articles[1].urlToImage);
		url.push(response.articles[1].url);
	});
		
	}

	function displayNews(){
		for(var i = 0; i < 10; i++){
		
		newsImg = img[i];
		newsTitle = title[i];
		newsDesc = desc[i];
		newsUrl = url[i];


		var newDiv = $('<div/>',{
			class:'carousel-item'
		});
		var newCard = $('<div/>',{
			class: 'card'
		});
		var cardHead = $('<div/>',{
			class: 'card-header'
		});
		var headline = $('<h4/>',{
			text: sourceName + ": "+newsTitle
		});
		var newImg = $('<img/>',{
			class: 'card-img-top',
			src: newsImg,
			alt: 'Card image cap'
		});
		var a = $("<a/>",{
			href: newsUrl
		});
		var cardDiv = $('<div/>',{
			class:'card-block'
		});
		a.append(newImg);
		cardDiv.append('<p>' + newsDesc + '</p>');
		cardHead.append(headline);
		newCard.append(cardHead);
		newCard.append(a);
		newCard.append(cardDiv);
		newDiv.append(newCard);
		if(i === 0 ){
			newDiv.addClass('active');
		}

	
		$('.carousel-inner').append(newDiv);

};


};

	});
	</script>
</html>