<!DOCTYPE html>
<html>
	<head>
		<title>WorldScoop</title>
		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
		<link rel="shortcut icon" href=../public/assets/images/favicon.jpg type="image/x-icon" />
		
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse" id="header">
				
				<div id="title"><h1> World Scoop </h1></div>
				<div id="desc"> <h4>Today's Warehouse For Every Online News Outlet</h4>
				</div>
				<nav class="nav">
					<a class="nav-link active" href="#"><h4>Home</h4></a>
					<a class="nav-link" id="link"href="#"><h4>Login</h4></a>
					<a class="nav-link" href="#"><h4>Sign-up</h4></a>
				</nav>
			</nav>
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="..." alt="First slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="..." alt="Second slide">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="..." alt="Third slide">
					</div>
				</div>
			</div>
			<div class="footer navbar-fixed-bottom" id="footer">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-12">
						<h4>&copy;James Dalton</h4>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript">
	$(document).ready(function () {
	$('.dropdown-toggle').dropdown();
	});
	</script>
</html>