<% include head/head %>
<body>
	<div class="container-fluid ">
		<div class="row first-row">
			<div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="nav-profile">
					
					<div class="navbar" id="navbarNavDropdown">
						<div class="row nav-row">
							<div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div><h1 id="title"> Welcome</h1></div>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<div id="desc" style="float:left">
								</div>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="bottom: -37px">
								<span class="fa fa-sign-out"><a href="/" style="color: white">Sign out</a></span>
							</div>
						</div>
						
					</div>
				</nav>
			</div>
			
		</div>
		<div class="row ipsum">
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 lorem2">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="sidebar" id="rightside">
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								ABC News (AU)
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-12-lg">
						<div class="sidebar" id="savedArticles">
							<h4 style="text-align: center; font-family: courier; margin-top: 10px;" ><strong>Saved Articles</strong></h4>
							<div id="wrapper">
								<div class="scrollbar" id="style-3">
									<div class="force-overflow"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 secondbipsum" >
				
			</div>
			
		</div>
		
		<div class="footer navbar-fixed-bottom" id="footer">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-12-lg">
					<h4>&copy;James Dalton</h4>
					<a href="https://newsapi.org/"><h5 style="color: white; opacity: .70">Powered by News API</h5></a>
					
				</div>
			</div>
		</div>
		
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
<script type="text/javascript" src="/assets/javascript/close.js"></script>
<script type="text/javascript" src="/assets/javascript/profile.js"></script>