<% include head/head %>
<body>
	<div class="container-fluid">
		<div class="row first-row">
			<div class="col-md-12">
				<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
					
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<div class="row nav-row">
							<div class="col-md-6">
								<div id="title"><h1> Welcome</h1></div>
							</div>
							<div class="col-md-3">
								<div id="desc" style="float:left">
								</div>
							</div>
						</div>
						<div class="col-md-3" style="bottom: -37px">
							<span class="fa fa-sign-out"><a href="/" style="color: white"> Sign out</a></span>
						</div>
					</div>
				</nav>
			</div>
			
		</div>
		<div class="row ipsum">
			<div class="col-md-3 lorem2">
				<div class="sidebar" id="leftside">
					
				</div>
				<div class="sidebar" id="rightside">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Select Source
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 bipsum" >
				
			</div>
			<div class="col-md-3" id="savedArticles">
				<h4 style="text-align: center; font-family: courier; margin-top: 10px;" ><strong>Saved Articles</strong></h4>

			</div>
		</div>
		
		<div class="footer navbar-fixed-bottom" id="footer">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-12">
					<h4>&copy;James Dalton</h4>
					<a href="https://newsapi.org/"><h5 style="color: white; opacity: .70">Powered by News API</h5></a>
					
				</div>
			</div>
		</div>
		
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
<script type="text/javascript" src="/assets/javascript/profile.js"></script>
</html>