<!DOCTYPE html>
<html>
	<head>
		<title>WorldScoop</title>
		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
		<link rel="shortcut icon" href=../public/assets/images/favicon.jpg type="image/x-icon" />
		
	</head>
	<body>
		<div class="container">
			<!-- <div class="row"> -->
			<!-- <div class="col-md-12"> -->
			<nav class="navbar navbar-inverse" id="header">
				
				<div id="title"><h1> World Scoop </h1></div>
				<div id="desc"> <h4>Today's Warehouse Online News</h4>
				</div>
				
			</nav>
			<nav class="nav">
				<a href="index.html" ><h4>Home</h4></a>
				<a href="login.html" class="link"><h4>Login</h4></a>
				<a href="signup.html"><h4>Sign-up</h4></a>
			</nav>
			<!-- </div> -->
			<!-- </div> -->
			<div class="row ipsum">
				<div class="col-md-6 bipsum" >
					<img src="https://ichef.bbci.co.uk/news/1024/media/images/48351000/gif/_48351569_640x360-news.gif" alt="news" height="505https://ichef.bbci.co.uk/news/1024/media/images/48351000/gif/_48351569_640x360-news.gif" width="690" class="img">
				</div>
				<div class="col-md-6 lorem">
					<form style="padding-bottom: 200px">
						<div class="form-group">
							<label for="formGroupExampleInput">First Name</label>
							<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput2">Last Name</label>
							<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput2">Email</label>
							<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput2">Password (must be 8 characters)</label>
							<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
						</div>
						<button type="button" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
			<div class="footer navbar-fixed-bottom" id="footer">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-12">
						<h4>&copy;James Dalton</h4>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript">
	$(document).ready(function () {
	$('.dropdown-toggle').dropdown();
	});
	</script>
</html>