<% include head/head %>
<body>
	<div class="container-fluid">
		<div class="row first-row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
					
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<div class="row nav-row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div id="title"><h1> World Scoop </h1></div>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<div id="desc" style="float:left"> <h6>Today's Warehouse For Online News</h6></div>
							</div>
							
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<ul class="navbar-nav">
									<li class="nav-item active">
										<a class="nav-link" href="/" style="color: white">Home <span class="sr-only">(current)</span></a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/signup" style="color: white">Sign-up</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/login" style="color: white">Login</a>
									</li>
									
									
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
			
		</div>
		<div class="row ipsum">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 bipsum" >
				<img src="https://ichef.bbci.co.uk/news/1024/media/images/48351000/gif/_48351569_640x360-news.gif" alt="news" height="505https://ichef.bbci.co.uk/news/1024/media/images/48351000/gif/_48351569_640x360-news.gif" class="img">
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 lorem">
				<form action="/signup" method="post" style="padding-top: 20px" >
					<div class="form-group">
						<label>username</label>
						<input type="text" class="form-control" name="email">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="password" class="form-control">
						<a href="#" style="color:blue">forgot password?</a>
					</div>
					<div>
						<input type="submit" value="Submit" class="form-control">
					</div>
					<!-- <button type="button" class="btn btn-primary">Submit</button> -->
				</form>
			</div>
		</div>
		
		<div class="footer navbar-fixed-bottom" id="footer">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-12">
					<h4>&copy;James Dalton</h4>
					<a href="https://newsapi.org/"><h5 style="color: white; opacity: .70">Powered by News API</h5></a>
				</div>
			</div>
		</div>
		
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
<script type="text/javascript">
$(document).ready(function () {
$('.dropdown-toggle').dropdown();
});
</script>
</html>