
body{
	/*position:relative;*/
	background-color: #58D2F1;
}

a:hover{
	background-color: red;
}

#header{
	padding: 10px;
	position: absolute;
	background-color: #292B2C;
	width: 100%;
	left:0px;
	border-bottom:5px solid red;
	opacity: .95;
}

#footer{
	margin:auto;
	background-color: #292B2C;
	height: 69px;
	border-top:solid red 5px;
	color: #fff;
	text-align: center;
	opacity: .95;
}

.nav{
	/*border:white solid 2px;*/
	float: right;
	margin-top: 27px;
	margin-right: 30px;
}

#link{
	padding-left: 50px;
	padding-right: 50px;
}

a{
	font-family: courier;
	color: white;
	display: inline-block;
}



.footer-wrapper{
	bottom: 0px;
	position: absolute;
	width: 100%;
	left:0%;
}

.container{
	
	height: 100%;
	width:100%;
	position: absolute;
	background-image: url("../images/scoop.jpg");
	/*margin-left :20px;*/
}

#dropdown{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

.dropdown-item{
	float:right;
}

h1{
	color:white;
	margin-left: 10px;
	font-family: courier;
	/*position:absolute;*/
	/*bottom: 0px;*/

}

h4{
	color: white;
	margin-left: 20px;
	font-family: courier;
	/*position: absolute;*/
	/*bottom:0px;*/


}

#title{
	float: left;
	/*margin-left: 10px;*/
	/*border: 2px solid red;*/

}

#desc{
	float:left;
	/*border: 2px solid red;*/
	margin-top: 25px;
	margin-left: 10px;

}

.ipsum{
	position: relative;
}

.bipsum{
	/*margin-top: 400px;*/
	position: relative;
	/*margin-left:-10px;*/
}

.img{
	left:0px;
	margin-left: -20px;
	margin-top: 94px;
	opacity: .90;
}


.lorem{
	margin-top: 94px;
	position: absolute;
	background-color: #FEE3C4;
	opacity: .90;
	right: 0px;
	
}
.lorem h1{
	color: black;
}

