
body{
	/*position:relative;*/
	background-color: #58D2F1;

}

.nav-item:hover{
	background-color: red;
	/*text-decoration:none;*/
}



img{
	position: absolute;
	height: 520px;
	width: 630px;

}

li{
	margin-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color:white;
}

.navlink{
	color:#fff;
}

.container-fluid{
	
	height: 100%;
	width:100%;
	position: fixed;
	background-image: url("../images/scoop.jpg");
	/*margin-left :20px;*/
	left: 0px;
	overflow: auto;
}

.navbar{
	width: 100%;
	background-color: #413F3F;
	color: white;
	font-family: courier;
	border-bottom: red solid 5px;
	padding: 5px;
	position: fixed;
	left:0px;

	z-index: 10;


}

.nav-item{
	float: right;
	right: 0px;
	margin-left: -25px;
	color: white;

}

.nav-row{
	width: 100%;

}

.about{
	width: 100%;
}

#title{
	margin-top:20px;
	margin-left: 20px;
	
}

#desc{
	margin-left:-150px;
	margin-top: 40px;
	
}



#footer{
	/*position: fixed;*/
	margin:auto;
	background-color: #292B2C;
	height: 100px;
	border-top:solid red 5px;
	color: #fff;
	text-align: center;
	opacity: .95;
	font-family: courier;
	width: 100%;
	padding-top: 10px;
	left: 0px;
	/*margin-bottom: 100px;*/
}

.ipsum{
	position: relative;
	margin-right: 0px;
	margin-left:0px;
	z-index: 2;

	/*background-color: #34E2E4;*/
	padding: 10px;
	overflow: auto;

}

.frontipsum{
	position: relative;
	margin-right: 0px;
	margin-left:0px;
	z-index: 2;

	/*background-color: #34E2E4;*/
	padding: 10px;
	/*overflow: auto;*/

}



.bipsum{
	/*width: 630px;*/
	/*background-color: #F9E7BC;*/
	z-index: 1;
	/*padding: 10px;*/
}

.card img{
	position: relative;
	z-index: 9;
	height: 100%;
	width: 100%;
	height: 320px;
	
}



.dropdown{
	/*margin-left: 250px;*/
	margin-top: 75px;
	margin-left: 75px;
	/*margin:auto;*/
	/*padding-left: 10px;*/

}

.dropdown-menu{
	height: 200px;
	overflow: auto;
}


.newImg{
	height: 370px;
}

.carousel{
	height: 520px;
	width: 653px;
}

.card-holder{
	width: 520px;
}
.frontcard{
	height: 520px;
	width: 630px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	/*position: absolute;*/
	/*margin-left: 300px;*/
	margin-top: 80px;


}
.card-header{
	/*background-color: #C4F7A9;*/
}
.card{
	height: 520px;
	width: 630px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	/*position: absolute;*/
	/*margin-left: 250px;*/
	margin-top: 80px;
	/*background-color: #C4F7A9;*/

}

.card p{
	margin-top: 20px;
}


.card-block{
	
	 text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  	white-space: nowrap;
  	overflow: hidden;
}



.lorem{
	background-color: #C4F7A9;
	opacity: .95;
	position: relative;
	height: 520px;
	width: 650px;
	border-radius: 5px;
	margin-top: 80px;
	
}

.lorem2{
	/*opacity: .95;*/
	position: relative;
	height: 520px;
	width: 650px;
	border-radius: 5px;
	margin-top: 80px;
		
}


.sidebar{
	background-color: red;
	opacity: .8;
	position: fixed;
	float: right;
	height: 470px;
	width: 180px;
	border-radius: 5px;

	
}


#savedArticles{
	background-color: #413F3F;
	color: white;
	opacity: .95;
	position: fixed;
	right: 0px;
	height: 420px;
	width: 300px;
	border-radius: 5px;
	margin-right: 50px;
	margin-top: 80px;

}

#savedArticles p {
	color: white;
}

#savedArticles p:hover{
	
	color:red;
	font-weight: bold;
	
}

#savedArticles a:hover{
	text-decoration: none;
}



#leftside{
	background-color: #413F3F;
	color: white;
	font-family: courier;
	opacity: 1;
	padding:10px;
	height: 180px;
	width: 300px;
	margin-left: 5px;/
	left: 0px;

}

#rightside{
	background-color: red;
	opacity: .8;
	position: fixed;
	float: right;
	height: 180px;
	width: 300px;
	border-radius: 5px;
	margin-top: 225px;	
}


nav{
	z-index: 0;
}


 li a{
	font-family: courier;
	color: #fff;
	display: inline-block;
	position: relative;
	z-index: 2;
}
/*.footer-wrapper{
	/*bottom: 0px;*/
	/*position: absolute;*/
	/*width: 100%;*/
	/*left:0%;*/
/*}*/

.card-img-top{
	height: 400px;
	width: 520px;
}


#input{
	display: none;
}